*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.list-container{
    border: 1px solid black;
    height: 800px;
    width: 500px;
    margin-top: 25%;
    padding: 20px;
}

h1{
    padding: 20px;
}